<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAO-9tAkZcWxb62FMXV48R5QFzw0Rwx-jM</string>
	<key>GCM_SENDER_ID</key>
	<string>275973691872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodsaver.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>foodsaver-5f6c7</string>
	<key>STORAGE_BUCKET</key>
	<string>foodsaver-5f6c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275973691872:ios:804102bc012832493df385</string>
</dict>
</plist>